<html>

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
</head>

<body>
    <div id="centerDiv">
        <h1 id='pagetitle'>Home Page</h1>
        <div class="container">
            <a href="{% url 'flavor' %}"><button type="button">Create Flavors</button></a>
        </div>
        <div class="container">
            <a href="{% url 'login page' %}"><button type="button">Login</button></a>
        </div>
    </div>
</body>
</html>