<html>

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
</head>

<body>
    {% csrf_token %}
    {% if userID %}
    <div id="cornerDiv">
        <div class="container2">
            <a href="{% url 'logout' %}"id="loginButton"><button type="button" class="logoutbutton">Logout</button></a>
        </div>
    </div>
    <div id="centerDiv">
        <h5> Welcome {{ userID }}! </h5>
        <h1 id='pagetitle'>Prediction Tool</h1>
        <h3>Choose the application that best suites yours.</h3>
        <nav>
            <label for="touch2"><span2>Select Application</span2></label>
            <input type="checkbox" id="touch2">
            <ul class="slide2">
                <li><a href="#">Scientific</a></li>
            </ul>
        </nav>

        <h2>Choose a flavor or create your own.</h2>
        <nav>
            <label for="touch"><span>Favors</span></label>
            <input type="checkbox" id="touch">
            <ul class="slide">
                <li><a href="#">Tiny</a></li>
                <li><a href="#">Small</a></li>
                <li><a href="#">Medium</a></li>
                <li><a href="#">Large</a></li>
                <li><a href="#">XLarge</a></li>

                {% for results in acctInfo %}
                {% if user.username == results.acctUsername.username %}
                <li><a value="{{ results.id }}">{{ results.name}}</a></li>
                {% endif %}
                {% endfor %}

            </ul>
        </nav>
        <div class="container">
            <a href="{% url 'flavor' %}" id="createButton"><button type="button">Create Flavor</button></a>
        </div>
        <div class="container">
            <a id="predict"><button type="button">Begin Prediction</button></a>
        </div>
    </div>
    {% else %}
    <h10>Please login -> </h10>
    <a href="{% url 'login page' %}">login</a>
    {% endif %}
</body>
</html>