<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'flavor/createflavor.css' %}">
    <title>Flavor Creation</title>
</head>

<body>
    <div id="centerDiv">
    <h1 id='pagetitle'>Flavor Prediction</h1>
    <div id="flavorinput">
        <form method="post" action="">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>

            <!-- <label> Enter Name <br>
                <input type="text" name="name" size="30" /> </label>
            <br>
            <p></p>
            <label> Enter ID <br>
                <input type="number" name="id" size="30" /> </label>
            <br />
            <p></p>
            <label> Enter vCPUs <br>
                <input type="number" name="amt_vCPU" size="30" /> </label>
            <br>
            <p></p>
            <label> Enter memory in GB <br>
                <input type="number" step="any" name="amt_Memory" size="30" /> </label>
            <br />
            <p></p>
            <label> Enter volume in GB <br>
                <input type="number" step="any" name="amt_Volume" size="30" /> </label>
            <br>
            <p></p>
            <label> Enter ephemeral volume in GB <br>
                <input type="number" step="any" name="amt_Ephemeral_Volume" size="30" /> </label>
            <br /> -->

            <p>
                <input type="submit" value="Predict">
            </p>

        </form>
    </div>
    </div>
</body>

</html>