<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
</head>

<body>
    <div id="centerDiv">
    <h1 id='pagetitle'>Login</h1>
    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
        <div class="container">
            <label for="user"><b>Username</b></label><br>
            <input type="text" placeholder="Enter User Name" name="username" id="use" required>
            <br>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="password" id="pas" required>
            <br>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <button id="sub" type="submit">Login</button>
            <a href="{% url 'Create account page' %}"><button type="button" class="createaccbtn">Create Account</button></a>
        </div>
    </form>

    <div class="container" style="background-color:#f1f1f1">
        <a href="{% url 'main page' %}"><button type="button" class="cancelbtn">Cancel</button></a>
        <span class="psw"> <a href="#">Forgot password?</a></span>
    </div>
</div>
</body>

</html>