<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'flavor/createflavor.css' %}">
    <title>Flavor Creation</title>
</head>

<body>
    <div id="centerDiv">
    <h1 id='pagetitle'>Flavor Creation</h1>
    <div id="flavorinput">
        <form method="post" action="">
            {% csrf_token %}
            <h2>Create a flavor that will save to {{ user.username }}</h2>
            <table>
                {{ form.as_p }}
            </table>
            <p href="{% url 'main page' %}">
                <a href="{% url 'main page' %}"><input href="{% url 'main page' %}" type="submit" value="Create"></a>
            </p>

        </form>
    </div>
    </div>
</body>

</html>